NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb://127.0.0.1:27017/portfolio

JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=change_this_to_another_long_random_string
JWT_REFRESH_EXPIRE=7d

ENCRYPTION_KEY=32_character_long_secret_key_here!!
ENCRYPTION_IV=16_char_iv_value

ADMIN_NAME=Ramanadhapuram Harish Kumar
ADMIN_EMAIL=ramanadhapuramharishkumar@gmail.com
ADMIN_PASSWORD=ChangeMe@123
